* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #5bb1cd;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #f0f0f0;
    text-decoration-line: underline;
}

.auth-buttons {
    display: flex;
    gap: 15px;
}

.auth-buttons a {
    font-size: 18px;
    padding: 8px 15px;
    background-color: white;
    color: #5bb1cd;
    border-radius: 5px;
    border: 2px solid #5bb1cd;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.auth-buttons a:hover {
    background-color: #5bb1cd;
    color: white;
}

.hero-section {
    height: 100vh;
    background-image: url('https://i.pinimg.com/564x/c6/3f/bc/c63fbceaedc613f80aae4275478e1530.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

.hero-content h1 {
    font-size: 72px;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.hero-content p {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 40px;
}
body, .home-page {
    background-color: white;
    font-family: 'Arial', sans-serif;
}
